<ion-tabs class="tabs-icon-bottom tabs-balanced">
$ionicConfigProvider.tabs.position('bottom');
  <ion-tab title="Home" icon="ion-android-home"
      href="#/tab/home">
      <ion-nav-view name="home-tab"></ion-nav-view>

  <ion-tab title="Tasks" icon="ion-android-clipboard"
      href="#/tab/task">
      <ion-nav-view name="task-tab"></ion-nav-view>

  <ion-tab title="Calendar" icon="ion-android-calendar"
      href="#/tab/calendar">
      <ion-nav-view name="calendar-tab"></ion-nav-view>
</ion-tabs>
